<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Swiper demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="./dist/css/swiper.min.css">

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/js/swiper.esm.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/js/swiper.esm.bundle.js"></script>
    <link rel="stylesheet" href="./dist/css/swiper.min.css">
    <link rel='stylesheet' href='./stylesheets/style.css' />
    <style>
        html, body {
            position: relative;
            height: 100%;
        }
        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color:#000;
            margin: 0;
            padding: 0;
        }
        .swiper-container {
            width: 100%;
            height: 100%;
        }
        .swiper-slide {
            background-position: center;
            background-size: cover;
        }
    </style>
</head>
<body>
<!— Swiper —>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image:url(http://localhost:44444/ending_story/start.png)"></div>
        <div class="swiper-slide" style="background-image:url(http://localhost:44444/ending_story/엔딩스토리_1.png)"></div>
        <div class="swiper-slide" style="background-image:url(http://localhost:44444/ending_story/엔딩스토리_2.png)"></div>
        <div class="swiper-slide" style="background-image:url(http://localhost:44444/ending_story/엔딩스토리_3.png)"></div>
        <div class="swiper-slide" style="background-image:url(http://localhost:44444/ending_story/엔딩스토리_4.png)"></div>
        <div class="swiper-slide" style="background-image:url(http://localhost:44444/ending_story/엔딩스토리_5.png)"></div>
        <div class="swiper-slide" style="background-image:url(http://localhost:44444/ending_story/엔딩스토리_6.png)"></div>
        <div class="swiper-slide" style="background-image:url(http://localhost:44444/ending_story/엔딩스토리_7.png)"></div>
        <div class="swiper-slide" style="background-image:url(http://localhost:44444/ending_story/cosySay.png)"></div>
        <div class="swiper-slide" style="background-image:url(http://localhost:44444/ending_story/6_엔딩스토리_엔딩크레딧.png)"></div>
    </div>
    <div class="swiper-pagination swiper-pagination-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
</div>

<script src="./dist/js/swiper.min.js"></script>

<script>
    var swiper = new Swiper('.swiper-container', {
        spaceBetween: 30,
        effect: 'fade',
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
</body>
</html>
