<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <style>
        body {
            padding: 50px 80px;
            font: 14px "Helvetica Neue", Helvetica, sans-serif;
            background: url("http://210.89.190.28:44444/images/2.jpeg");
        }
        h1, h2 {
            margin: 0;
            padding: 10px 0;
        }
        h1 {
            font-size: 2em;
        }
        h2 {
            font-size: 1.2em;
            font-weight: 200;
            color: #aaa;
        }
        pre {
            font-size: .8em;
        }
    </style>
</head>
<body>
<div id="error">
    <h1>Error</h1>
    <p>준비중입니다..ㅠㅠ</p>
</div>
</body>
</html>